* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: wheat;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

table {
  border: solid 1px black;
  text-align: center;
}

tbody {
  background-color: rgb(136, 69, 84);
  border-bottom: 2px solid blue;
}
thead {
  background-color: rgb(207, 126, 146);
  border-bottom: 2px solid blue;
}

td {
  border: solid 1px rgb(148, 39, 39);
}
